<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BruinMessenger - Cat's Away!</title>
	<style>
	.container {
		position: relative;
	    height: 140px;
	    width: 400px;
	    background: #c3c3c3;
	    padding: 10px;
	    top: 96px;
	    left: 200px;
	    border-left: 19px solid #D24343;
	}

	h1 {
		font-family: sans-serif;
		margin: 5px;
	}

	hr {
		border: none;
    	height: 1px;
    	background: #000;
	}

	p {
		font-family: sans-serif;
	}
	</style>
</head>
<body>
	<div class="container">
		<h1>404</h1>
		<hr>
		<p>The page you're looking for could not be found! We looked everywhere, even at USC , but we couldn't find it! :(</p>
	</div>
</body>
</html>

<!-- Under Section 107 of the Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use.
This project is inspired by the following udemy course: https://www.udemy.com/all-about-nodejs -->
