<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BruinMessenger - Rooms</title>
	<link rel="stylesheet" href="/css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<!-- auto created socket io route -->
	<script src="/socket.io/socket.io.js"></script>
	<script>
	$(() => {
		// /roomslist is NOT a route, it is a socket namespace
		let socket = io('{{host}}/roomslist')
		// selector for the input field 'roomName'
		let newRoomInput = $("input[name='roomName']")
		// when connected

		let renderChatRooms = chatrooms => {
			let roomsListDiv = $('#roomsListUL')
			let listStr = ''
			for (let chat of chatrooms) {
				listStr += `<a href="/chat/${chat.roomID}"><li>${chat.room}</li></a>`
			}
			roomsListDiv.html('').append(listStr)
		}

		// Get a list of chatrooms when page loads
		socket.emit('getChatrooms')

		// Listen for chatRoomsList update
		socket.on('chatRoomsList', chatrooms => {
			console.log(
				chatrooms
			)
			renderChatRooms(chatrooms)
		})

		$('#createBtn').on('click', () => {
			if (newRoomInput.val() !== '') {
				socket.emit('createNewRoom', newRoomInput.val())
				// clear the input field
				newRoomInput.val('')
			}
		})
	})
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>BruinMessenger | Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="{{user.profilePic}}" alt="{{user.fullName}}"></div>
			<p class="userName">{{user.fullName}}</p>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
			<!-- Loop list items here -->
			<!-- Loop ends -->
			</ul>
		</div>
	</div>
</body>
</html>


<!-- Under Section 107 of the Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use.
This project is inspired by the following udemy course: https://www.udemy.com/all-about-nodejs -->
